
    <footer>
        <div class="row">
            <div class="col-lg-12">
  <small>
    No pain, no gain!
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
            </div>
        </div>
    </footer>